@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap");

/* font-family: 'Noto Sans KR', sans-serif; */

body {
  background-color: black;
}
.intro {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 700px;
  margin-bottom: 700px;
  letter-spacing: 0.5rem;
}

[data-scroll] {
  transition: opacity 2s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
}
